<div class="container top">
  <h2 class="text-center bottom">See below the list of your promotion(s) with Robin Food</h2>

  <div class="row">
    <% @promotions.each do |promo| %>
      <div class ="col -xs-12 col-md-4">
        <p class="promo-validity text-center"><%= promo.validity %></p>
        <div class="thumbnail">
          <div class="avatar-box"><%= image_tag "shop.png", alt:"seller", class:"avatar-seller" %></div>
          <img src="food/fruits/strawberry.jpg" alt="img">
          <div class="caption">
            <h4><%= promo.shop.name_of_the_store %></h4>
            <h5><%= promo.shop.category %></strong></h5>
            <p class="promo-product-type"><%= promo.product_type %></p>
            <p class="promo-title"><%= link_to promo.title, promotion_path(promo)%></p>
            <p class="promo-discount">- <%= promo.price_after_promotion_per_unit %> €</p>
            <p class="initial-price"><s style="color: grey"><%=promo.initial_price_per_unit %> € </s></p>
            <p class="promo-price"><%= promo.price_after_promotion_per_unit%> €</strong></p>
            <!--<p><%= promo.initial_quantity %></p>
            <p><%= promo.remaining_quantity%></p>-->
            <p><%= promo.unit%></p><br/>
            <p class="text-center"><strong><%= promo.digits_code %></strong></p>
            <p><% promo.promotion_status %></p>
            <p class="add-to-cart"><a href="#" class="btn-medium" role="button"><i class="fa fa-cart-arrow-down"></i> Add to basket</a></p>
            <%= link_to promo.title, promotion_path(promo), {class: "storelink"}%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
