<div class="container top">


 <div class="row">
  <h2 class="text-center bottom">Products from your catalogue currently promoted with Robin Food</h2>
 <% unless @promotions_active.empty? %>
   <% @promotions_active.each_with_index do |promo, index| %>
     <div class ="col-xs-12 col-md-4">
       <p class="promo-validity text-center"> <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> <%= distance_of_time_in_words(promo.validity - Time.now) %></p>
       <p class="text-center">Your digicode is <strong><%= promo.digits_code %></strong></p>
       <%= link_to promotion_path(promo) do %>
       <div class="thumbnail">
         <%= image_tag promo.photo_url, { :class=>"thumbnail-img" } unless promo.photo_url.nil?%>
         <div class="caption">
           <h5><strong><%= link_to promo.description, promotion_path(promo)%></strong></h5>
           <p class="promo-discount">- <%= ((1-(promo.price_after_promotion_per_unit.to_f/promo.initial_price_per_unit.to_f))*100).round %> %</p>
           <p class="promo-price"><%= promo.price_after_promotion_per_unit %>€</p>
            <%= link_to 'Deactivate' ,shop_activation_path( promo_id: promo.id, id: params["shop_id"].to_i), method: :put, :class=>"btn-medium fa fa-pencil-square-o pull-left"  %>
         </div>
       </div>
       <%end%>
     </div>
     <% if index.odd?%>
     <!--<div class="clearfix"></div>-->
     <% end %>
   <% end %>
   <% else %>
     <p class="text-center bottom">No active promotion for the moment</p>
   <% end %>
   </div>

  <div class="row">
  <h2 class="text-center bottom"> Products from your catalogue you can activate with Robin Food</h2>
 <% unless @promotions_inactive.empty? %>
   <% @promotions_inactive.each_with_index do |promo, index| %>
     <div class="col-xs-12 col-md-4">
       <p class="promo-validity inactive text-center"> <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> <%= distance_of_time_in_words(promo.validity - Time.now) %></p>
       <%= link_to promotion_path(promo) do %>
       <div class="thumbnail">

         <%= image_tag promo.photo_url, { :class=>"thumbnail-img" } unless promo.photo_url.nil?%>
         <div class="caption">
           <h5><strong><%= link_to promo.description, promotion_path(promo)%></strong></h5>
           <p class="promo-discount">- <%= ((1-(promo.price_after_promotion_per_unit.to_f/promo.initial_price_per_unit.to_f))*100).round %> %</p>
           <p class="promo-price"><%= promo.price_after_promotion_per_unit %>€</p>

           <%= link_to 'Edit', edit_promotion_path(promo.id),  :class=>"btn-medium fa fa-pencil-square-o pull-left"  %>
           <%= link_to 'Activate',shop_activation_path( promo_id: promo.id, id: params["shop_id"].to_i), method: :put, :class=>"btn-medium fa fa-pencil-square-o pull-left"  %>
         </div>
       </div>
       <%end%>
     </div>
     <% if index.odd?%>
     <!--<div class="clearfix"></div> -->
     <% end %>
   <% end %>
   <% else %>
   <% end %>
   <%= link_to 'Upload New Product', new_promotion_path(shop_id: params[:shop_id]), :class=>"btn-medium fa fa-pencil-square-o pull-left"  %>
  </div>

</div>
