<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <%= link_to root_path, class: "navbar-brand" do %>
          Robin <span>Food</span>
      <% end %>
    </div>


      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li>
            <%= link_to orders_path, class: '.profile' do %>
              <%= t('navigation.orders') %>
            <% end %>
          </li>
          <li>
            <% unless current_user.shops.empty? %>
              <%= link_to shop_promotions_path(current_user.shops.first.id) do %>
              <%= t('navigation.manage-products') %>
              <% end %>
            <% end %>
          </li>
          <li>
            <% if current_user.shops.empty? %>
            <%= link_to new_shop_path, class: '.profile' do %>
            <%= t('navigation.partnership') %>
              <% end %>
              <% end %>
          </li>
          <% else %>
             <li>
            <%= link_to new_shop_path, class: '.profile' do %>
            <%= t('navigation.partnership') %>
              <% end %>
          </li>
          <% end %>
          <li>
             <%= link_to new_user_session_path, class: 'hidden-mg hidden-lg' do %>
          <%= t(".sign_in", default: "Login")%>
        <% end %>
          </li>
          <li>
          <%= link_to new_user_registration_path, class: '.sign_up hidden-sm hidden-lg' do %>
          <%= t('navigation.sign_up') %>
        <% end %>
          </li>
        </ul>
      </div>
      <div class="pull-right">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-link navbar-btn' do %>
            <% if current_user.facebook_picture_url %>
              <%= image_tag current_user.facebook_picture_url, class: "avatar" %>
            <% else  %>
              <i class="fa fa-2x fa-user-circle-o"></i>
            <% end %>
          <% end %>
      </div>
    <% else %>
      <div style="margin-right:80px" class="pull-right hidden-xs ">

        <%= link_to new_user_session_path, class: 'btn btn-link navbar-btn' do %>
          <%= t(".sign_in", default: "Login")%>
        <% end %>


      </div>
      <div class="pull-right hidden-xs " style="color:rgb(148, 219, 70);">
        <%= link_to new_user_registration_path, class: '.sign up btn btn-link btn-success navbar-btn' do %>
          <%= t('navigation.sign_up') %>
        <% end %>
      </div>
       <% end %>
  </div>
</nav>

