<div class="container top bottom">
<div class="row">
   <% current_user.orders.each do |order| %>
    <div class ="col-md-4">
        <div class="text-center">
        <% if order.promotion.shop.photo_url %>
          <%= image_tag order.promotion.shop.photo_url, class: "avatar-large" %>
        <% end %>
         <p><%= order.promotion.shop.name_of_the_store %></p>
         <% if order.promotion.photo_url %>
            <%= image_tag order.promotion.photo_url, height: 100, width: 130 %>
         <% end %>
          <p> <%= order.promotion.description %></p>
         <p>Quantity: <%= order.quantity_ordered %> <%= order.promotion.unit %></p>
         <p>Price: <%= order.promotion.price_after_promotion_per_unit * order.quantity_ordered %> €</p>
         <p>Status: <%= order.status %></p>
         <% if order.status != "Picked-up" %>
            <%= link_to ' Edit', promotion_path(order.promotion), class: "btn-medium fa fa-pencil-square-o" %>
            <%= link_to ' Confirm Order', order_path(order), { :class=>"btn-medium fa fa-pencil-square-o" } %>
         <% end %>
        </div>
    </div>
   <%end%>
</div>
</div>
