<div class="container top">
<%= link_to '',orders_path, { :class=>"btn-minim fa fa-arrow-left" } %>
<div class="row top">
      <% if @order.status == "Booked" %>
        <h1 class="text-center bottom">Thanks! Go now at <%= @order.promotion.shop.name_of_the_store%> to pick-up your order and generate <span class="colorg">your coupon</span> </h1>
      <% else %>
        <h1 class="text-center bottom">Please present this <span class="colorg">coupon</span> and benefits from the discount</h1>
      <% end %>
      <div class="col-md-6 col-md-offset-3" style="border: dashed 2px whitesmoke;">
      <div class="text-center top bottom">
      <%= image_tag @order.promotion.shop.photo_url, { :class=>"avatar-large" }%>
      <p><strong><%= @order.promotion.shop.name_of_the_store  %> - <%= @order.promotion.shop.category %></strong> </p>
      <p><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> <%= @order.promotion.shop.full_address  %> </p>

      <div class="image-container top bottom"><%= image_tag @order.promotion.photo_url, { :class=>"img-responsive" }%>
      <% if @order.status == "Booked" %>
      <div class="resume">
      <% else %>
      <div class="resumed">
      <% end %>
      <p> <%= @order.promotion.description %> </p>
      <p>Quantity: <%= @order.quantity_ordered %> <%= @order.promotion.unit %></p>
      <p>Price: <%= (@order.promotion.price_after_promotion_per_unit * @order.quantity_ordered).round(2) %> €</p>
      </div>
      </div>

      <% if @order.status == "Booked" %>
      <div class="text-center top">
        <%= simple_form_for :confirm, :url => confirm_order_path, :method => :post  do |f| %>
        <%= f.error_notification %>
        <%= f.input :code, label: "Please enter the code provided at the counter of #{@order.promotion.shop.name_of_the_store}"%>
        <%= f.button :submit,  "Generate Coupon", { :class=>"btn-medium fa fa-arrow-right top bottom" }  %>
        <div id="map" class="top" style="width: 100%; height: 600px;">

        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
          <% end %>
        <% end %>

        </div>
      <% end %>
      <% end %>
      </div>
</div>
</div>
</div>
</div>


