<div class="container top">
<div class="row">
    <div >
      <h1>Hi <%= current_user.username %> please go pick-up yours <%= @order.promotion.title %> at <%= @order.promotion.shop.full_address %></h1>
      <h1>Your order status: <%= @order.status  %> </h1>
      <%= image_tag @order.promotion.shop.photo_url, { :class=>"thumbnail-img" }%>
      <%= image_tag @order.promotion.photo_url, { :class=>"thumbnail-img" }%>
      <% if @order.status != "Picked-up" %>
        <%= simple_form_for :confirm, :url => confirm_order_path, :method => :post  do |f| %>
        <%= f.error_notification %>
        <%= f.input :code, label: "Please enter the code provided at the counter of #{@order.promotion.shop.name_of_the_store}"%>
        <%= f.button :submit,  "Generate Coupon", { :class=>"btn-medium fa fa-arrow-right" }  %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">

</div>

<div id="map" style="width: 100%; height: 600px;">

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
</div>
