Hi Martin,

<%= @shop.name_of_the_store %>, wants to become a partner of RobinFood.store

<ul>
  <li>Name: <%= @shop.name_of_the_store %></li>
  <li>Category: <%= @shop.name_of_the_store %></li>
  <li>Description: <%= @shop.description %></li>
  <li>Name: <%= @shop.name_of_the_store %></li>
  <li>Phone number: <%= @shop.phone_number %></li>
  <li>Address: <%= @shop.address %>, <%= @shop.zip_code %> <%= @shop.city %>, <%= @shop.country %></li>
</ul>
