<div class="container top">
<div class="row">
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
<%= simple_form_for(@promotion) do |promo| %>
  <% if @promotion.errors.any? %>
    <div class="alert alert-danger" role="alert" style="color:darkred">
      <% @promotion.errors.full_messages.each do |message| %>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= message.html_safe %><br>
      <% end %>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= promo.input :title, label:"Define title of your promotion", placeholder:"Sandwiches,croissants, Soup,..."%>
    <%= promo.input :description, label:"Select product you want to promote", placeholder:"E.g : Sandwich Nordic"%>
    <%= promo.input :price_after_promotion_per_unit, label:"Define the reduced price of your product ", placeholder:"2€" %>
    <%= promo.input :validity, as: :datetime_picker %>
  </div>

  <div class="form-actions text-center">
     <%= promo.button :submit, "Update Promotion", { :class=>"btn-medium fa fa-arrow-left" } %>
 </div>
<% end %>
</div>
</div>
</div>
