<div class="container top bottom">
<div class="row">
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
<%= simple_form_for(@promotion) do |promo| %>
  <% if @promotion.errors.any? %>
    <div class="alert alert-danger" role="alert" style="color:darkred">
      <% @promotion.errors.full_messages.each do |message| %>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= message.html_safe %><br>
      <% end %>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= promo.input :title, label: t('promo-edit.title'), placeholder:"Sandwiches,croissants, Soup,..."%>
    <%= promo.input :description, label: t('promo-edit.product'), placeholder:"E.g : Sandwich Nordic"%>
    <%= promo.input :initial_price_per_unit, label:t('promo-edit.initial'), placeholder:"3€" %>
    <%= promo.input :price_after_promotion_per_unit, label:t('promo-edit.after'), placeholder:"2€" %>
    <%= promo.input :validity, as: :datetime_picker %>
    <%= promo.file_field :photo_url, label:t('promo-edit.picture') %>
    <%= promo.hidden_field :photo_url_cache, as: :hidden %>
  </div>

  <div class="form-actions text-center">
     <%= promo.button :submit, "Update Promotion", { :class=>"btn-medium fa fa-arrow-left" } %>
 </div>
<% end %>
</div>
</div>
</div>
