<div class="container top">
<div class="row">
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
<%= simple_form_for(@promotion) do |promo| %>
  <% if @promotion.errors.any? %>
    <div class="alert alert-danger" role="alert" style="color:darkred">
      <% @promotion.errors.full_messages.each do |message| %>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%= message.html_safe %><br>
      <% end %>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= promo.input :title, label:"Please insert the header of your promotion", placeholder:"Sandwiches,croissants, Soup,..."%>
    <%= promo.input :product_type, label:"On which products is this production valid", placeholder:"Be as specific as possible. E.g : Sandwich Nordic"%>
    <%= promo.input :initial_price_per_unit, label:"Price of the product before promotion", placeholder:"3.5€"%>
    <%= promo.input :price_after_promotion_per_unit, label:"Price of the product after promotion", placeholder:"2€" %>
    <%= promo.input :validity, label:"When does the promotion stop?" %>
  </div>



  <div class="form-actions">
    <%= promo.button :submit, "Update Promotion", { :class=>"btn-medium fa fa-arrow-left" } %>
  </div>
<% end %>
</div>
</div>
</div>
