<div class="banner" style="background: url('http://res.cloudinary.com/desy3o0oh/image/upload/q_100/v1483370828/banner_iw0zpl.png'); background-size: cover !important;">
 <div class="banner-content">
  <h1><%= t('promotions.slogan-1') %><span class="green"><%= t('promotions.slogan-2') %></span><%= t('promotions.slogan-3') %></h1>
  <p><%= t('promotions.sous-slogan') %></p>
 </div>

 <div class="homepage-search">
  <form action="" method="get" class="form-inline">
   <div class="form-group">
     <input type="text" id="current_location" name="address" class="form-control" placeholder=<%="#{t('promotions.location')}"%> aria-describedby="sizing-addon1">
   </div>
    <button type="submit" id="localisation" class="btn btn-form"><%= t('promotions.bouton') %></button>
  </form>
 </div>
</div>


<div class="container bottom">
 <% if @params_search %>
   <h3 class="text-center bottom"><%=t('promotions.titre-1')%> <span class="green"><strong> <%= @shops.uniq.length  %></strong></span> <%=t('promotions.shops', count: @shops.uniq.length)%> <span class="green"><strong> <%= @promotions.uniq.length  %> </strong></span> <%=t('promotions.promos', count: @promotions.uniq.length)%> </h3>
 <% else %>

  <h3 class="text-center bottom"><%=t('promotions.titre-1')%> <span class="green"><strong> <%= @shops.count * 134 %></strong></span> <%=t('promotions.shops', count: @shops.count)%><span class="green"><strong> <%= @promotions.count * 302 %> </strong></span> <%=t('promotions.promos-2', count: @promotions.count)%></h3>
 <% end %>
 <div class="row">
 <% if @promotions.any? %>
   <% @promotions.each_with_index do |promo, index| %>
     <div class ="col-xs-12 col-md-4">
       <p class="promo-validity text-center"> <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i> <%= distance_of_time_in_words(promo.validity - Time.now) %></p>
       <%= link_to promotion_path(promo) do %>
       <div class="thumbnail">
         <div class="thumbnail-img">
         <%= cl_image_tag(promo.photo_url,:height=>210, :width=>340,crop: :fill) unless promo.photo_url.nil?%>
          </div>
         <div class="caption">
           <h4><%= promo.shop.name_of_the_store %></h4>
           <h5><strong><%=  promo.description%></strong></h5>
           <p class="promo-title"><%= promo.shop.category %></p>
           <p class="promo-discount"> - <%= ((1-(promo.price_after_promotion_to_float/promo.initial_price_to_float))*100).round %> %</p>
           <p class="promo-initial-price"><%= number_with_precision(promo.initial_price_to_float, precision: 2) %>€</p>
           <p class="promo-price"><%= number_with_precision(promo.price_after_promotion_to_float, precision: 2) %>€</p>
         </div>
       </div>
       <%end%>
     </div>
     <% if index.odd?%>
     <!--<div class="clearfix"></div>-->
     <% end %>
   <% end %>
   <% else %>
     <h2 class="text-center bottom"><%= t('promotions.unfortunately') %></h2>
   <% end %>
   </div>
</div>
   <div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
 <%= javascript_tag do %>
   $(document).ready(function() {
     var handler = Gmaps.build('Google');
     handler.buildMap({ internal: { id: 'map' } }, function() {
       markers = handler.addMarkers(<%= raw @hash.to_json %>);
       handler.bounds.extendWith(markers);
       handler.fitMapToBounds();
       if (markers.length == 0) {
         handler.getMap().setZoom(2);
       } else if (markers.length == 1) {
         handler.getMap().setZoom(14);
       }
     });
   });
 <% end %>
<% end %>
