<div class="container-fluid" style="background: linear-gradient(to left, #56ab2f , #a8e063);">
  <div class="banner">
    <div class="banner-content">
      <h1>Good deals nearby and for today</h1>
      <form class="form-inline top">
          <div class="input-group input-group-lg top">
          <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-street-view" aria-hidden="true"></i></span>
          <input type="text" class="form-control" placeholder="Enter your address, city, ..." aria-describedby="sizing-addon1">
          </div>
          <button type="submit" class="btn btn-form top">FIND DEALS</button>
      </form>
    </div>
  </div>
</div>

<div class="container top">
<h2 class="text-center bottom">Find Your <strong><span class="green">Best Deals</span></strong> of the WEEK !</h2>
  <div class="row">
    <% @promotions.each do |promo| %>
      <div class ="col -xs-12 col-md-4">
        <p class="promo-validity text-center"> Deals ends in : <%= distance_of_time_in_words(promo.validity - Time.now) %></p>
        <div class="thumbnail">
          <div class="avatar-box"><%= image_tag promo.shop.photo_url, { :class=>"avatar-seller" }%></div>
          <%= image_tag promo.photo_url, { :class=>"thumbnail-img" }%>
          <div class="caption">
            <h4><%= promo.shop.name_of_the_store %></h4>
            <h5><%= promo.shop.category %></strong></h5>
            <p class="promo-product-type"><%= link_to promo.description, promotion_path(promo) %></p>
            <!-- <p class="promo-title"><%= link_to promo.title, promotion_path(promo)%></p>-->
<!--             <p class="promo-discount">- <%= promo.price_after_promotion_per_unit %> €</p> -->
            <p class="initial-price"><s style="color: grey"><%=promo.initial_price_per_unit %> € </s></p>
            <p class="promo-price"><%= promo.price_after_promotion_per_unit%> € -<%= ((1-(promo.price_after_promotion_per_unit.to_f/promo.initial_price_per_unit.to_f))*100).round %>%</strong></p>
            <!--<p><%= promo.initial_quantity %></p>
            <p><%= promo.remaining_quantity%></p>-->
            <!-- <p><%= promo.unit%></p><br/> -->
            <!-- <p class="text-center"><strong><%= promo.digits_code %></strong></p>-->
            </div>
             <%= link_to promo.title, promotion_path(promo), {class: "storelink"}%>
            <%= link_to 'View Details', promotion_path(promo), { :class=>"btn-medium add-to-cart fa fa-arrow-right" } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    <div id="map" style="width: 100%; height: 600px;">

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
</div>

  <div class="row">
    <% @promotions.each do |promo| %>
      <div class ="col -xs-12 col-md-4">
        <p class="promo-validity text-center">Deal ends in <%= distance_of_time_in_words(Time.now - promo.validity) %></p>
        <div class="thumbnail">
          <div class="avatar-box"><%= image_tag "shop.png", alt:"seller", class:"avatar-seller" %></div>
          <img src="http://www.arcticgardens.ca/blog/wp-content/uploads/2015/09/viande-hach%C3%A9e-rouge.jpg" alt="img">
          <div class="caption">
            <h4><%= promo.shop.name_of_the_store %></h4>
            <h5><%= promo.shop.category %></strong></h5>
<!--             <p class="promo-product-type"><%= promo.product_type %></p> -->
            <p class="promo-title"><%= link_to promo.description, promotion_path(promo)%></p>
            <p class="promo-discount"><%= promo.price_after_promotion_per_unit %> € -<%= ((1-(promo.price_after_promotion_per_unit.to_f/promo.initial_price_per_unit.to_f))*100).round %> %</p>
<!--             <p class="initial-price"><s style="color: grey"><%=promo.initial_price_per_unit %> €</s></p> -->
<!--             <p class="promo-price"><%= promo.price_after_promotion_per_unit%> € -<%= ((1-(promo.price_after_promotion_per_unit.to_f/promo.initial_price_per_unit.to_f))*100).round %> %</strong></p> -->
            <!--<p><%= promo.initial_quantity %></p>
            <p><%= promo.remaining_quantity%></p>-->
<!--             <p><%= promo.unit%></p><br/> -->
<!--             <p class="text-center"><strong><%= promo.digits_code %></strong></p>
            <p><% promo.promotion_status %></p> -->
         <!--    <p class="add-to-cart"><a href="#" class="btn-medium" role="button"><i class="fa fa-cart-arrow-down"></i> Add to basket</a></p> -->
 <!--            <%= link_to promo.title, promotion_path(promo), {class: "storelink"}%> -->
            <%= link_to ' View Details', promotion_path(promo), { :class=>"btn-medium fa fa-pencil-square-o" } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
