<div class="banner" style="background: url('http://res.cloudinary.com/desy3o0oh/image/upload/q_100/v1483370828/banner_iw0zpl.png'); background-size: cover !important;">
 <div class="banner-content">
  <h1><%= t('promotions.slogan-1') %><span class="green"><%= t('promotions.slogan-2') %></span><%= t('promotions.slogan-3') %></h1>
  <p><%= t('promotions.sous-slogan') %></p>
 </div>

 <div class="homepage-search">
  <form action="" method="get" class="form-inline">
   <div class="form-group">
     <input type="text" id="current_location" name="address" class="form-control" placeholder=<%="#{t('promotions.location')}"%> aria-describedby="sizing-addon1">
   </div>
    <button type="submit" id="localisation" class="btn btn-form"><%= t('promotions.bouton') %></button>
  </form>

 </div>
</div>


<div class="container bottom">
 <% if @params_search %>
   <h3 class="text-center bottom"><%=t('promotions.titre-1')%> <span class="green"><strong> <%= @shops.uniq.length  %></strong></span> <%=t('promotions.shops', count: @shops.uniq.length)%> <span class="green"><strong> <%= @promotions.uniq.length  %> </strong></span> <%=t('promotions.promos', count: @promotions.uniq.length)%> </h3>
 <% else %>

  <h3 class="text-center bottom"><%=t('promotions.titre-1')%> <span class="green"><strong> <%= @shops.uniq.length  %></strong></span> <%=t('promotions.shops', count: @shops.uniq.length)%><span class="green"><strong> <%= @promotions.uniq.length %> </strong></span> <%=t('promotions.promos-2', count: @promotions.count)%></h3>
 <% end %>
 <!-- Filter that automatically sends an ajax request on change of category -->
 <%= form_tag('/promotions', method: 'get', :remote=> true, :id => 'cat_filter') do %>
    <%= select("shop", "category", Shop.all.collect(&:category) + ["All"],{:selected => @default_filter},{:onchange => "$.ajax({type:'GET',url: '/promotions', data: $('#cat_filter').serialize(), success: function(data){}});",:class=>"selectpicker"}) %>
 <% end %>

 <!-- List of promotions, div updated by AJAX in case of category filter other than 'All' -->
 <div class="row" id="promo_list">
   <%= render partial: 'promo_filtered', locals: {promotions: @promotions} %>
 </div>

</div>
   <div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
 <%= javascript_tag do %>
   $(document).ready(function() {
     var handler = Gmaps.build('Google');
     handler.buildMap({ internal: { id: 'map' } }, function() {
       markers = handler.addMarkers(<%= raw @hash.to_json %>);
       handler.bounds.extendWith(markers);
       handler.fitMapToBounds();
       if (markers.length == 0) {
         handler.getMap().setZoom(2);
       } else if (markers.length == 1) {
         handler.getMap().setZoom(14);
       }
     });
   });
 <% end %>
<% end %>
