<div class="container top">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="banner-seller">

        <%#= Link_to ' Subtract',  order_path(promotion_id: @promotion.id, quantity_ordered: -1), method: :put %>
        <%#= Link_to ' Add',  order_path(promotion_id: @promotion.id, quantity_ordered: 1), method: :put %>
      <div class="arriere-plan">
       <%= image_tag @promotion.photo_url%>
      </div>
      <div class="profil-seller text-center">

          <%= image_tag @promotion.shop.photo_url, { :class=>"avatar-large" }%><h4><%= @promotion.shop.name_of_the_store %></h4>
      </div>
      </div>
    </div>
<div class="col-xs-12 col-md-6">
<div class="banner-description bottom">
<h1 class="text-center"><%= @promotion.description %></h1>
       <h3>Description</h3>
          <ul>
             <li>
                <%= @promotion.product_type %>
             </li>

             <li>
                Initial price: <strong><%= @promotion.initial_price_per_unit %> € </strong>
                initial quantity: <%= @promotion.initial_quantity %>
             </li>
             <li>
    Price offered: <strong><%= @promotion.price_after_promotion_per_unit %>€</strong>
             </li>
             <li>
    Discount: <strong><%= ((1-(@promotion.price_after_promotion_per_unit.to_f/@promotion.initial_price_per_unit.to_f))*100).round %>%</strong>
             </li>
          </ul>
       </div>
<div class="banner-cart">
<div class="banner-form-cart">
<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <%= f.input :quantity_ordered, label: "Quantity", input_html: { value:  @promotion.min_quantity,type: "hidden", min: '1', id: "qt", step: "#{@promotion.min_quantity}" }%><br/>
  <%= f.input :promotion_id, as: "hidden", input_html: {value: @promotion.id} %>
  <p><span id="diminuer" class=" btn-mini counter "><i class="fa fa-minus" aria-hidden="true"></i></span><span style="cursor:auto;" class="counter number"><%= @promotion.min_quantity%></span><span class="btn-mini counter" id="augmenter"><i class="fa fa-plus" aria-hidden="true"></i></span></p>
  <%= f.button :submit,  class: "btn-medium-submit pull-right top bottom" %>
<% end %>
</div>
</div>
</div>
</div>

<div class="container top bottom text-center">
  <%= link_to ' Back',promotions_path, { :class=>"btn-medium fa fa-arrow-left" } %>
  <%= link_to ' Edit', edit_promotion_path, { :class=>"btn-medium fa fa-pencil-square-o" } %>
  <%= link_to ' View My Order', orders_path, { :class=>"btn-medium fa fa-eye top" } %>
</div>

 <% content_for(:after_js) do %>
 <script>
$(document).ready(function(){
   $("#diminuer").click(function(){
    if (parseInt($('input#qt').val()) > <%= @min_value.to_i + 1%>) {
     var qt = parseInt($('input#qt').val());
      qt = qt - 1;
      $('input#qt').val(qt)
     $('.number').text(qt)
  }
});
  $("#augmenter").click(function(){
    var qt = parseInt($('input#qt').val());
    qt = qt +1;
    $('input#qt').val(qt)

    $('.number').text(qt)
  });

})
 </script>
<% end %>
