<h1><%= @promotion.title %></h1>

<h2><%= @promotion.shop.name_of_the_store %></h2>

<h3>Description</h3>
<ul>
  <li>
  <%= @promotion.product_type %>
  </li>
  <li>
    <%= @promotion.initial_quantity %>
  </li>
  <li>
    Initial price: <strong>-<%= @promotion.initial_price_per_unit %>%</strong>
  </li>
  <li>
    Price offered: <strong><%= @promotion.price_after_promotion_per_unit %>€</strong>
  </li>
</ul>

<div class="container text-center bottom">
  <%= link_to ' Back',promotions_path, { :class=>"btn-medium fa fa-arrow-left" } %>
  <%= link_to ' Edit', edit_promotion_path, { :class=>"btn-medium fa fa-pencil-square-o" } %>
  <%= link_to ' Add',  create_order_user_order_orderline_path(current_user.id, Order.create, promotion_id: @promotion.id), method: :post %>
</div>
