<div class="container">
<div class="row">
<div class="banner-seller">
  <div class="col-xs-6">


        <%#= Link_to ' Subtract',  order_path(promotion_id: @promotion.id, quantity_ordered: -1), method: :put %>
        <%#= Link_to ' Add',  order_path(promotion_id: @promotion.id, quantity_ordered: 1), method: :put %>
<div class="arriere-plan">
    <%= image_tag @promotion.photo_url%>
 </div>
 <div class="profil-seller text-center">

          <%= image_tag @promotion.shop.photo_url, { :class=>"avatar-large" }%><h4><%= @promotion.shop.name_of_the_store %></h4>
</div>
</div>
       <div class="banner-description col-xs-6">
<h1 class="text-center"><%= @promotion.description %></h1>
       <h3>Description</h3>
          <ul>
             <li>
                <%= @promotion.product_type %>
             </li>

             <li>
                Initial price: <strong><%= @promotion.initial_price_per_unit %> € </strong>
                initial quantity: <%= @promotion.initial_quantity %>
             </li>
             <li>
    Price offered: <strong><%= @promotion.price_after_promotion_per_unit %>€</strong>
             </li>
             <li>
    Discount: <strong><%= ((1-(@promotion.price_after_promotion_per_unit.to_f/@promotion.initial_price_per_unit.to_f))*100).round %>%</strong>
             </li>
          </ul>
       </div>
    </div>
  </div>
</div>
<p><br>
<br>
<br>
<br>
<br></p>

<div class="container text-center bottom">

  <%= link_to ' Back',promotions_path, class: "btn-medium fa fa-arrow-left" %>
  <%= link_to ' View My Order', orders_path, { :class=>"btn-medium fa fa-arrow-right" } %>

 <% if policy(@promotion).update? %>
    <%= link_to ' Edit', edit_promotion_path, class: "btn-medium fa fa-pencil-square-o" %>
 <% end %>

 <% if policy(@promotion).destroy? %>
    <%= link_to ' Destroy', promotion_path(@promotion), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn-medium fa fa-pencil-square-o"  %>
 <% end %>

  <%#= Link_to ' Subtract',  order_path(promotion_id: @promotion.id, quantity_ordered: -1), method: :put %>
  <%#= Link_to ' Add',  order_path(promotion_id: @promotion.id, quantity_ordered: 1), method: :put %>

</div>
<div class="container">
<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <%= f.input :quantity_ordered, label: "Quantity", input_html: { value:  @promotion.min_quantity,type: "hidden", min: '1', id: "qt", step: "#{@promotion.min_quantity}" }%>
  <%= f.input :promotion_id, as: "hidden", input_html: {value: @promotion.id} %>
  <p class="text-center"><span id="diminuer" class=" counter btn-medium">-</span><span style="cursor:auto;" class="counter number"><%= @promotion.min_quantity%></span><span class="btn-medium counter" id="augmenter">+</span></p>
  <%= f.button :submit,  { :class=>"btn-medium fa fa-arrow-right" }  %>
<% end %>
</div>
<style>
  .counter{
    margin-left: 40px;
    font-size: 14pt;
    font-weight: bold;
    cursor:pointer;
  }
  .number{

  }
  .arriere-plan img {
    max-width: 97%!important;
    max-height: 350px!important;
}
</style>
 </div>
 <% content_for(:after_js) do %>
 <script>
$(document).ready(function(){
   $("#diminuer").click(function(){
    if (parseInt($('input#qt').val()) > <%= @min_value.to_i + 1%>) {
     var qt = parseInt($('input#qt').val());
      qt = qt - 1;
      $('input#qt').val(qt)
     $('.number').text(qt)
  }
});
  $("#augmenter").click(function(){
    var qt = parseInt($('input#qt').val());
    qt = qt +1;
    $('input#qt').val(qt)

    $('.number').text(qt)
  });

})
 </script>
<% end %>

 <div id="map" style="width: 100%; height: 600px;">

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
</div>
