<div class="container">
  <div class="row">
    <div class="banner-seller">
      <h1 class="text-center"><%= @promotion.title %></h1>
       <div class="profil-seller text-center">
          <i>proposed by:</i><br/><br/>
          <img src="/assets/shop.png" alt="seller" class="avatar-large"><h2><%= @promotion.shop.name_of_the_store %></h2>
       </div>
       <div class="banner-description"><h3>Description</h3>
          <ul>
             <li>
                <%= @promotion.product_type %>
             </li>

             <li>
                <%= @promotion.initial_quantity %>
             </li>
             <li>
                Initial price: <strong>-<%= @promotion.initial_price_per_unit %> € </strong>
             </li>
             <li>
    Price offered: <strong><%= @promotion.price_after_promotion_per_unit %>€</strong>
             </li>
          </ul>
       </div>
    </div>
  </div>
</div>



<div class="container text-center bottom">
  <%= link_to ' Back',promotions_path, class: "btn-medium fa fa-arrow-left" %>
 <% if policy(@promotion).update? %>
    <%= link_to ' Edit', edit_promotion_path, class: "btn-medium fa fa-pencil-square-o" %>
 <% end %>

 <% if policy(@promotion).destroy? %>
    <%= link_to ' Destroy', promotion_path(@promotion), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn-medium fa fa-pencil-square-o"  %>
 <% end %>

  <%#= Link_to ' Subtract',  order_path(promotion_id: @promotion.id, quantity_ordered: -1), method: :put %>
  <%#= Link_to ' Add',  order_path(promotion_id: @promotion.id, quantity_ordered: 1), method: :put %>
</div>

<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <%= f.input :quantity_ordered %>
  <%= f.input :promotion_id, as: "hidden", input_html: {value: @promotion.id} %>

  <%= f.button :submit %>
<% end %>

 <div id="map" style="width: 100%; height: 600px;">

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
</div>
