<div class="container">
  <div class="row">
    <div class="banner-seller">
      <h1 class="text-center"><%= @promotion.title %></h1>
       <div class="profil-seller text-center">
          <i>proposed by:</i><br/><br/>
          <img src="/assets/shop.png" alt="seller" class="avatar-large"><h2><%= @promotion.shop.name_of_the_store %></h2>
       </div>
       <div class="banner-description"><h3>Description</h3>
          <ul>
             <li>
                <%= @promotion.product_type %>
             </li>
             <li>
                <%= @promotion.description %>
             </li>
             <li>
                Initial price: <strong><%= @promotion.initial_price_per_unit %> € </strong>
                initial quantity: <%= @promotion.initial_quantity %>
             </li>
             <li>
    Price offered: <strong><%= @promotion.price_after_promotion_per_unit %>€</strong>
             </li>
             <li>
    Discount: <strong><%= ((1-(@promotion.price_after_promotion_per_unit.to_f/@promotion.initial_price_per_unit.to_f))*100).round %>%</strong>
             </li>
          </ul>
       </div>
    </div>
  </div>
</div>



<div class="container text-center bottom">
  <%= link_to ' Back',promotions_path, { :class=>"btn-medium fa fa-arrow-left" } %>
  <%= link_to ' Edit', edit_promotion_path, { :class=>"btn-medium fa fa-pencil-square-o" } %>
</div>
<div class="container">
<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <%= f.input :quantity_ordered, label: "Quantity", input_html: { value:  @promotion.min_quantity, min: '0', step: "#{@promotion.min_quantity}" }%>
  <%= f.input :promotion_id, as: "hidden", input_html: {value: @promotion.id} %>

  <%= f.button :submit %>
<% end %>
</div>
